---
- hosts: web_servers
  become: true
  become_user: root
  tasks:

  - name: Install required packages
    apt:
      name:
       - nginx
      state: latest
      update_cache: yes

  - name: Install PHP7.4 and NFS helper
    apt:
      update_cache: yes
      name:
        - php7.4-fpm
        - php7.4-redis
        - php7.4-cli
        - php7.4-mysql
        - php7.4-curl
        - php7.4-json
        - php7.4-pgsql
        - php7.4-iconv
        - php7.4-mbstring
        - php7.4-xmlrpc
        - php7.4-soap
        - php7.4-ctype
        - php7.4-zip
        - php7.4-gd
        - php7.4-dom
        - php7.4-xml
        - php7.4-intl
        - php7.4-ldap
        - nfs-common
        - clamav
        - clamdscan
        - clamav-daemon
        - apparmor-utils
        - unoconv
        - ghostscript
      state: present

  #- name: Copy default - sites enabled
    #template:
     #src: moodle.conf
     #dest: /etc/nginx/sites-enabled/moodle.conf
     #mode: 0644
     #owner: root
     #group: root

  - name: Copy default - sites available
    template:
     src: moodle.conf
     dest: /etc/nginx/sites-available/moodle.conf
     mode: 0644
     owner: root
     group: root

  - name: Create an Nginx server block for Moodle
    shell: |
     sudo rm /etc/nginx/sites-enabled/moodle.conf
     sudo ln -s /etc/nginx/sites-available/moodle.conf /etc/nginx/sites-enabled/
    become_user: root

  - name: download moodle code and index
    shell: |
     cd /opt
     sudo rm -rf /opt/moodle
     sudo git clone git://git.moodle.org/moodle.git
    become_user: root

  - name: Retrieve a list of each branch available
    shell: |
     cd /opt/moodle
     sudo git branch -a
     sudo git branch --track MOODLE_400_STABLE origin/MOODLE_400_STABLE
     sudo git checkout MOODLE_400_STABLE
    become_user: root

  - name: Copy local repository to /var/www/html/
    shell: |
     sudo cp -R /opt/moodle /var/www/html/
     sudo mkdir /var/moodledata
     sudo chown -R www-data /var/moodledata
     sudo chmod -R 0775 /var/moodledata    
     sudo chown -R www-data:www-data /var/www/html/moodle/
     sudo chmod -R 0755 /var/www/html/moodle
    become_user: root

  - name: Copy config.php
    template:
     src:  config.php
     dest: /var/www/html/moodle/config.php
     mode: 0755
     owner: root
     group: root

  #- name: Copy moodle.conf
    #template:
     #src:  moodle.conf
     #dest: /etc/nginx/conf.d/moodle.conf
     #mode: 0755
     #owner: root
     #group: root

